* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-size: 100%;
}

#navi-header {
  background-color: rgb(40, 44, 52);
  height: 60px;
}

.wrapper{
  width: 90%;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Das ist ein Kommentar*/
#navi-header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.8s ease-in color;
}

#navi-header a:hover {
  color: rgb(69, 139, 116);
}

#menu {
  display: none;
}

#burger {
  background-color: transparent;
  color: #fff;
  float: right;
}
#menu.show{
  display: block;
  background-color: rgb(40, 44, 52);
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  text-align: center;
}
.hero{
  background-image: url(img/intro.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
}
.hero-text{
  color: #fff;
  margin: auto;
  text-align: center;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 1);
}
.hero-text a, .card a{
  color: #fff;
  text-decoration: none;
  background-color: rgb(102, 205, 170);
  padding: 1rem;
  border-radius:4px;
  border: #fff solid 1px;
  transition: 0.8s;
   -webkit-box-shadow: 0px 0px 22px 10px rgba(255, 255, 255, 0.75);
  -moz-box-shadow:    0px 0px 22px 10px rgba(255, 255, 255, 0.75);
  box-shadow:         0px 0px 22px 10px rgba(255, 255, 255, 0.75);
}
.hero-text a, .card a:hover{
  background: rgb(69, 139, 116);

}
.border{
  border: black solid 1px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: none;
  color: black;
  text-align: center;
  padding: 1rem;
}
.border a{
  display: block;
  box-shadow: 0px 0px 22px 10px rgba(0, 0, 0, 0.50);
}
.card img{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

main img {
  width:100%;
  display: block;
}
article h3{
  margin:0;
}
.card{
  margin-bottom: 1rem;
}

@media (min-width:1024px) {
  #navi-header li {
    display: inline;
    margin-left: 2rem;
  }

  #menu {
    float: right;
    display: block;
    margin-top: 19px;
  }

  #burger {
    display: none;
  }


  header img {
  margin-top: 10px;
  }

  #burger{
  border: none;
  font-size: 2rem;
  margin-top: 11px;
  }
  .flex{
  display: flex;
  }
  .card:first-child{
  margin-right: 0.5rem;
  }
  .card:last-child{
  margin-left: 0.5rem;
  }
  #rezepte{
    width:66.666%;
  }
  #sidebar{
    width:33.333%;
    
  }

}
